global:
  resolve_timeout: 5m

route:
  receiver: 'slack-notifications'

receivers:
  - name: 'slack-notifications'
    slack_configs:
      - api_url: "" # Slack Webhook URL
        channel: '#alerts'
        send_resolved: true

#alertmanager.yml 안에서 환경변수 치환 기능을 지원하지 않는다 -> env X

